body{
	margin-right:100px; 
	margin-left:100px;
	margin-bottom:200px ;
	display:block; 
	background-color: white;
color:black;
padding-top: 50px;
padding-right: 30px;
padding-bottom: 50px;

}

h1{
	text-transform: uppercase;
	text-align: center;
}
#old{
	text-transform: uppercase;
text-align:center;
color: rgb(102, 255, 0);
} 
#image{
	width: 95%;
}
h6{
	text-align:center;
	color: rgb(72, 255, 0);
}
p{
	text-align: justify;

}
#new{
	text-align:0px;
	color: rgb(102, 255, 0); 
}